.App {
  text-align: center;
  font-size: 175%;
}

.App-logo {
  text-align: left;
  height: 10vt;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #e28b28;
  display: flex;
}

.tab-link {
  background-color: #e28b28;
  border: 1px solid darkgray;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  width: 16.666%;
}

.tab-link:hover {
  background-color: #777;
}

.active {
  background-color: #ffc55b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .App {
    font-size: 100%;
  }
  .navbar {
    font-size: medium;
  }
}
